.contacts-search{
	width: 19.75rem;
	@include respond ('phone'){
		width: 100%;
	}
	.form-control{
		border-color:transparent;	
		border-#{$ic-pos-right}: 0;
		background:var(--card);
		border-top-#{$ic-pos-left}-radius: $radius;
		border-bottom-#{$ic-pos-left}-radius: $radius;
		height: 3rem;
		color:va(--text-dark);
		&::placeholder{
			color:var(--text-dark);
		}
	}
	.input-group-text{
		border-color:transparent;	
		background:var(--card);
		border-#{$ic-pos-left}: 0;
		height: 3rem;
		border-radius: $radius;
		padding-#{$ic-pos-right}:1.25rem;
		i{
			font-size: 1rem;
		}
	}
}
.contact-bx{
	border-width: 0.125rem;
	.card-header{
		position: absolute;
		#{$ic-pos-right}: 0;
		top: 0;	
	}
	.image-bx{
		display: inline-block;
		position: relative;
		height: 100%;
		img{
			width:70px;
			height:70px;
			border-radius:$radius;
		}
		
		span{
			&.active{
				height: 1.25rem;
				width: 1.25rem;
				position: absolute;
				bottom: -0.25rem;
				#{$ic-pos-right}: 0rem;
				border-radius: 2rem;
				background:$success;
				border: 0.25rem solid var(--card);	
			}	
		}
	}
	.user-meta-info{
		li{
			margin:1.5625rem 0;
			a{
				border: 0.0625rem solid var(--rgba-primary-2);
				border-radius: 3.125rem;
				height: 1.5rem;
				width: 1.5rem;
				line-height: 1.5rem;
				padding: 0.3125rem 0.5rem;
				font-size: 1rem;
				color:var(--primary);
				margin-#{$ic-pos-right}:0.9375rem;
			}	
		}	
	}
	&:hover{
		box-shadow: rgba(136, 108, 192, 0.2) 0rem 0.4375rem 1.8125rem 0rem;	
		.user-meta-info{
			li{
				a{
					background:var(--primary);
					color:$white;
				}
			}	
		}
	}
	.contact-footer{
		height: 1.5625rem;
		position: relative;
		overflow: hidden;	
		a{
			color:var(--primary);	
			margin-#{$ic-pos-right}: 0.5rem;
			font-weight: 500;
			@include custommq ($max:1600px){
				margin-#{$ic-pos-right}: 0.3rem;
			}
		}
		ul{
			margin-top: 0.3125rem;
			display: flex;
			position: absolute;
			top: -2.9375rem;
			transition: all 0.3s;
			background: var(--card);	
			li{
				margin-#{$ic-pos-right}: 0.75rem;	
			}
		}
	}
}
.contact-footer.show ul{
	top: -0.25rem;	
}
.progect-pagination{
	.pagination{
		.page-indicator{
			.page-link{
				padding: 0.875rem 1.3125rem;
				font-size: 1rem;
				border-radius: 0.625rem;	
				color:var(--primary);
				&:hover{
					color:$white	
				}
				@include respond ('phone'){
					padding: 0rem 0.625rem;
					line-height: 1.875rem;
					font-size: 0.875rem;
				}
			}	
		}	
		.page-item{
			display:flex;	
			font-size: 1rem;
			border-radius: 0.625rem;
			background:var(--rgba-primary-1);
			color:var(--primary);
			margin:0 0.3125rem;
			a{
				padding: 0.875rem 1.3125rem;	
				font-size:1.125rem;
				font-weight:500;
				&.active{
					background:var(--primary);
					color:$white;
					border-radius:0.625rem;
				}
				@include respond ('phone'){
					padding: 0.375rem 0.625rem;
					font-size: 0.875rem;
						
				}
			}
		}
	}	
}

.user-profile{
	cursor: pointer;
	a{
		color:var(--text-dark);
	}
}



//////project-page

