@import "./page-error";
@import "./page-auth";
//@import "./page-doctor-details";



//specific HTML pages scss
@import "./homepage";
@import "./project-page";
@import "./clients";
@import "./kanban";
@import "./cms";
@import "./contact";
@import "./dashboard2";
@import "./aikit";

@import "./ecom-product-detail";
@import "./ecom-product-grid";
@import "./ecom-product-list";






