:root{
	--nav-headbg: var(--body-bg);
	--sidebar-bg: var(--body-bg);
	--headerbg: var(--body-bg);
}

//background for nav header
@each $name, $color in $theme_backgrounds {
	[data-nav-headerbg="#{$name}"][data-theme-version="dark"],
    [data-nav-headerbg="#{$name}"] {
        @if $name != "color_1"  {
			--nav-headbg: #{$color};
			.nav-header{
				border-color:rgba($white,0.5);
				.brand-logo{
					
					.brand-title{
						svg{
							path{
								fill:$white;	
							}	
						}
						.brand-sub-title{
							color:$white;	
						}
					}
					
				}
				.hamburger .line{
					background:$black;
				}
				border-color:lighten($color: $color, $amount: 3%);
			}
			
		}
	}
}
//background for nav header
@each $name, $color in $theme_backgrounds {
	[data-sibebarbg="#{$name}"][data-theme-version="dark"],
    [data-sibebarbg="#{$name}"] {
        @if $name != "color_1"  {
			--sidebar-bg: #{$color};
			
			
			.menu-toggle .ic-sidenav .metismenu li > ul{
				background:$color!important;
			}
			.ic-sidenav{ 
				border-color: lighten($color: $color, $amount: 3%);
			}
			.ic-sidenav .metismenu ul a:before{
				background:rgba($white,0.5)!important;
			}
			.ic-sidenav .header-info2{
				border-color:rgba($white,0.2)!important;		
			}
			.ic-sidenav .menu-title{
				color: $white;
				border-color:rgba($white,0.15)!important;
			}
			.side-bar-profile{
				h4{
					color:$white;
				}
				span{
					color:$white;	
				}
				i{
					color:$white!important;		
				}
			}
			&[data-sidebar-style="full"][data-layout="vertical"]{
				.ic-sidenav {
					.metismenu{
						&>li{
							&.mm-active{
								&>a{
									i{
										color:$white;
									}
								}
							}
						}				
					} 
				}
			}
			&[data-sidebar-style="mini"],
			&[data-sidebar-style="modern"],
			&[data-sidebar-style="compact"],
			&[data-sidebar-style="icon-hover"][data-layout="horizontal"],
			&[data-sidebar-style="full"][data-layout="horizontal"]{
				.ic-sidenav{
					.metismenu li ul{
						background-color: lighten($color: $color, $amount: 10%);
					}
				} 
				.ic-sidenav .metismenu > li.mm-active > a,
				.ic-sidenav .metismenu > li:hover > a{
					background:rgba($white,0.15)!important;
				}
			}
			
			&[data-sidebar-style="compact"][data-layout="vertical"]{
				.ic-sidenav {
					.metismenu {
						&>li {
							a{
								&:hover{
									color:$white;
								}
							}
							&>a{
								&>i{
									background: lighten($color: $color, $amount: 3%)!important;
									color:rgba($white,0.7);
								}
							}
							&.mm-active,&:hover{
								&>a {
									box-shadow:none;
									background:transparent!important;
									color:$white!important;
									i{
										background: lighten($color: $color, $amount: 10%)!important;
										color:$white!important;
									}
								}
							}
						}
					}
				}
			}
			&[data-sidebar-style="modern"][data-layout="horizontal"]{
				.ic-sidenav {
					.metismenu {
						&>li {
							border-color:rgba($white,0.3);
						}
					}
				}
			}
			.ic-sidenav {
				.metismenu{
					a{
						color:rgba($white,0.8)!important;
					}
					li{
						ul{
							a{
								&:hover,
								&:focus,
								&.mm-active {
									color:$white;
								}
							}
						}
					}
					&>li{
						&>a{
							color:rgba($white,0.85)!important;
							i{
								color:rgba($white,0.85)!important;
							}
						}
						&.mm-active{
							&>a{
								background:rgba($white,0.15)!important;
								color:$white!important;
								border-color: transparent;
								box-shadow: none;
								
								i{
									color:$white!important;
								}
								&:before{
									background:$white!important;
								}
							}
						}
					}
					.has-arrow:after{
						border-color: rgba($white,0.85) transparent transparent rgba($white,0.85)!important;
					}					
				} 
				.header-info2 span{
					color: $white;
				}
				.sidebar-info{
					color: $white; 
					i{
						color: $white; 		
					}
				}
			}
			.plus-box{
				background-color: lighten($color: $color, $amount: 10%);
				h4{
					color:$white;	
				}
			}
			.copyright{
				color:$white;
			}
		}
		
	}
}

//background for nav header
@each $name, $color in $theme_backgrounds {
	[data-headerbg="#{$name}"][data-theme-version="dark"],
    [data-headerbg="#{$name}"] {
        @if $name != "color_1"  {
			--headerbg: #{$color};
				.search-area .input-group-append .input-group-text i{
					color:$white;
				}
				.header-right .notification_dropdown .nav-link .badge{
					border-color: lighten($color: $color, $amount: 10%);	
				}
				.header-right .notification_dropdown .nav-link i{
					color: $white;
				}
				.dashboard_bar{
					color:$white;	
				}
			.header-right{
				.search-area .form-control,
				.search-area .input-group-text{
					background-color: lighten($color: $color, $amount: 10%);
					border-color: lighten($color: $color, $amount: 10%);
					i{
						color:$white;
					}
				}
				.plus-icon a{
					background-color: lighten($color: $color, $amount: 10%);	
				}
					
			}
			.header-right{
				svg{
					path{
						stroke:$white;
					}
					circle{
						stroke:$white;
					}
					rect{
						stroke:$white;
					}
				}
			}
			.text-black {
				color: #fff !important;
			 
			}
			.header-profile > a.nav-link .header-info small, .header-profile > a.nav-link .header-info span{
				color:$white;	
			}
			.hamburger .line{
				background:$white!important;
			}
			.header-right .notification_dropdown .nav-link{
				background-color: lighten($color: $color, $amount: 10%);
				border-color: rgba(255, 255, 255, 0.4);
			}
			.header-profile .nav-link{
				background-color: lighten($color: $color, $amount: 10%);
			}
			.ic-theme-mode{
				background-color: lighten($color: $color, $amount: 10%);
				border-color: rgba(255, 255, 255, 0.4);
			}
			//special work for color
		}	
	}
}
body[data-headerbg="color_12"] .ic-theme-mode:not(.active) .dark{
	color: #fff;
}