///////////////////////////
// Nav Profile
///////////////////////////
.nav-label {
    margin: 0.625rem 1.875rem 0;
    padding: 1.5625rem 0 0.625rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.05rem;
    border-top: 0.0625rem solid $l-border;
	color:$dusty-gray;
    &.first {
        border: 0rem;
        margin-top: 0rem;
    }
}

.nav-badge {
    position: absolute;
    #{$ic-pos-right}: 2.8125rem;
    top: 0.625rem;
}

.content-body {
    margin-#{$ic-pos-left}: var(--dz-sidebar-width);
    z-index: 0;
    transition: all .2s ease;
}

.header-profile2{
	.dropdown-menu.show{
		width:calc(var(--dz-sidebar-width) - 30px);
		min-width:calc(var(--dz-sidebar-width) - 30px);
		#{$ic-pos-left}: 15px!important;
	}
}

///////////////
// Sidebar
//////////////
.ic-sidenav {
    width: var(--dz-sidebar-width);
    padding-bottom: 0;
    height: calc(100% - var(--dz-header-height));
    position: var(--dz-sidebar-pos);
    top: var(--dz-header-height);
    padding-top: 0;
    z-index: 6;
    background-color: var(--sidebar-bg);
    transition: all .2s ease;
	border-right: 1px solid var(--border);
	
    .ic-sidenav-scroll {
        position: relative;
        height: 100%;
		overflow-y:scroll;
		scrollbar-width: none;
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .metismenu {
        display: flex;
        flex-direction: var(--dz-side-menu-direction);
		
		.menu-title{
			font-size: 11px;
			font-weight: 600;
			padding-top: 25px;
			padding-bottom: 8px;
			margin: 0px 18px;
			text-transform: uppercase;
		}
        &.fixed{
            position: fixed;
            top: 0;
            width: 100%;
            #{$ic-pos-left}: 0;
        }
        &>li{
            display: flex;
            flex-direction: column;
			padding: 0 15px;
   			margin: 5px 0px;
			
            a{
                &>i {
                    font-size: var(--dz-side-ico-size);
                    display: inline-block;
                    vertical-align: middle;
                    position: relative !important;
                    top: 0;
					height:var(--dz-side-ico-height);
					width:var(--dz-side-ico-width);
					text-align:center;
					margin-#{$ic-pos-right}: 0.4rem;
					border-radius: 0.125rem;
					line-height:1;
                }
            }
            &>a {
				font-weight: 500;
				display: inline-block;
				padding: 0.625rem 0.625rem;
				font-size: var(--dz-side-nav-size);
				color:#343e53;
				border-radius: $radius;
				border: 1px solid transparent;
				
				i{
					color: #96A0AF;
				}
				svg {
					max-width: 1.5rem;
					max-height: 1.5rem;
					height: 100%;
					margin-#{$ic-pos-right}:0.3125rem;
					margin-top: -0.1875rem;
					color: var(--primary);
				}
				g [fill] {
					fill: #8088a1;
				}
            }
            &:hover,
			&:focus {
				
                &>a {
                    color: var(--primary);
					g [fill] {
						fill: var(--primary);
					}
                }
            }
            &.mm-active {
				&>a {
					background: var(--card);
					box-shadow: 0 10px 20px rgba(197, 202, 220, 0.1);
					border-color: var(--border);
					
					g [fill] {
						fill: $white;
					}
					&:after{
						border-top: 0.3125rem solid var(--primary);
						border-left: 0.3125rem solid var(--primary);
						border-width: 1px;
						
					}
				}
            }
        }
        li {
            position: relative;
        }
		ul {
            transition: all .2s ease-in-out;
			position:relative;
			z-index: 1;
			padding: 0.5rem 0;
				
            a {
				font-size: var(--dz-side-sub_nav-size);
				padding: var(--dz-side-sub_nav-padding);

				@include transitionMedium;
				
                &:hover,
                &:focus,
                &.mm-active {
                    text-decoration: none;
                    color: var(--primary);
                }
            }
            
        }
        a {
            position: relative;
            display: block;
            outline-width: 0;
            color:var(--text-gray);
            text-decoration: none;
			@include respond('phone-land') {
				padding: 0.625rem 1.25rem;
			}
        }
        .has-arrow {
            &:after {
				border-top: 0.3125rem solid #C8C8C8;
				border-left: 0.3125rem solid #C8C8C8;
				border-bottom: 0.3125rem solid transparent;
				border-right: 0.3125rem solid transparent;
				border-width: 1px;
                #{$ic-pos-right}: 1.875rem;
                top: 48%;
                -webkit-transform: rotate(-225deg) translateY(-50%);
                transform: rotate(-225deg) translateY(-50%);
				
            }
        }
        .has-arrow[aria-expanded=true]:after,
        .mm-active>.has-arrow:after {
            -webkit-transform: rotate(-135deg) translateY(-50%);
            transform: rotate(-135deg) translateY(-50%);
        }
    }
	
	.main-menu{
		padding:0.625rem 1.875rem;
	}
	.header-profile2{
		display: var(--dz-side-profile);
	}
	.copyright{
		display: var(--dz-side-copyright);
		padding: 0 15px;
    	margin: 20px 0px;
	}
	.plus-box{
		display: var(--dz-side-info);
	}
	.header-info2{
		padding: 0.35rem 1rem 0.35rem 0.35rem;
		background-color: var(--body-bg);
		border-radius: .5rem;
		margin: 10px 15px 0;

		img{
			height: 2.8rem;
			width: 2.8rem;
			border-radius: $radius;
			margin-#{$ic-pos-right}: .8rem;
		}
		.sidebar-info{
			flex:1;
		}
		span{
			font-size:.9375rem;
			font-weight:500;
			color:var(--text-dark);
		}
		i{
			margin-#{$ic-pos-left}:auto;
			font-size: .85rem;
		}
	}
}
[data-sidebar-position="fixed"] {
	--dz-sidebar-pos : fixed;
}