// Customize Bootstrap
@import './bs-custom';

$strong:#646c9a;
$border: #DEE1ED;
$border-dark:#a9a6a6;
$shadow: 0rem 0rem 2.5rem 0rem rgba(82,63,105,0.1);
$body-bg: #F9F9FB;

///////////////
// Solid Color
///////////////
$white: #fff;
$black: #000;
$charade: #23252F;

/////////////////////////
// Dark Version Color
/////////////////////////
$d-ctd: #ddd;
$d-ctl: #828690;
$d-border:rgba(255, 255, 255, 0.1);
$d-bg: #151C2C;
$dark-card: #182237;
$dark_bg_lighter: #1E2A4A;
$d-text-dark : #fff;
$d-text-gray : #b3b3b3;
$d-text : #717579;


/////////////////////////
// Primary Light
/////////////////////////
$primary-light: lighten($primary, 60%);
$secondary-light: lighten($secondary, 80%);
$success-light: lighten($success, 55%);
$warning-light: lighten($warning, 35%);
$danger-light: lighten($danger, 45%);
$info-light: lighten($info, 50%);
$dark-light: lighten($dark, 70%);

/////////////////////////
// Opacity 
/////////////////////////
$primary-opacity: rgba($primary, 0.1);
$secondary-opacity: rgba($secondary, 0.5);
$success-opacity: rgba($success, 0.1);
$warning-opacity: rgba($warning, 0.1);
$danger-opacity: rgba($danger, 0.15);
$info-opacity: rgba($info, 0.1);
$dark-opacity: rgba($dark, 0.35);

////////////////////////
// Light Version Color
////////////////////////
$l-ctd: #464a53;
$l-ctl: #828690;
$l-border: #eaeaea;
$l-bg: #f2f4fa;
$heading: #333;
$text-dark: #10131e;
$text-gray: #737B8B;
$text: #666666;
$card: #fff;

$light: #e9eff6;

///////////////////
// Material Colors
///////////////////
$dusty-gray: #999999;
$gallery: #EEEEEE;
$gray: #898989;
$input-border-color: $border;


///////////////////
// Social Colors
///////////////////
$facebook: #3b5998;
$twitter: #1da1f2;
$youtube: #FF0000;
$google-plus: #db4439;
$linkedin: #007bb6;
$instagram: #c32aa3;
$pinterest: #bd081c;
$google: #4285f4;
$snapchat: #fffc00;
$whatsapp: #25d366;
$tumblr: #35465d;
$reddit: #ff4500;
$spotify: #1ed760;
$yahoo: #430297;
$dribbble: #ea4c89;
$skype: #00aff0;
$quora: #aa2200;
$riverBed: #4C585C;
$vimeo: #1ab7ea;


///////////////////
// Misc Colors
///////////////////
$iron: #DDDFE1;
$grey: #D2D6DE;
$pale-sky: #6a707e;
$athensGray: #F0F0F2;
$sky: #2290FF;

$color_pallate_1: $white;
$color_pallate_2: #6610f2;
$color_pallate_3: $primary;
$color_pallate_4: #4d06a5;
$color_pallate_5: #dc3545;
$color_pallate_6:  #fd7e14;
$color_pallate_7: #ffc107;
$color_pallate_8: #ff5ed2;
$color_pallate_9:  #20c997;
$color_pallate_10:  #17a2b8;
$color_pallate_11: #94618E;
$color_pallate_12:#000420 ;
$color_pallate_13: #83418b;
$color_pallate_14: #4885ed;
$color_pallate_15: #003d44;

// utility variables
$radius-lg: 12px; 
$radius: 8px; 
$radius-sm: 4px; 

$loader--width: 15.625rem;
$loader-dot--size: 1.25rem;
$ic-pos-right: right;
$ic-pos-left: left;
$ic-row: row wrap;

:root{
	/* Basic */
	--card : #{$card};
    --text-dark : #{$text-dark};
    --text-gray : #{$text-gray};
    --text : #{$text};
    --body-bg : #{$body-bg};
    --light : #{$light};
    --border : #{$border};
    --border-dark:#{$border-dark};
	
	/* Color */
	--primary: #{$primary};
	--secondary: #{$secondary};
	--secondary-light: #{$secondary-light};
	--primary-light: #{rgba($primary, 0.05)};
	--primary-hover: #{darken($primary, 10)};
	--primary-dark: #{darken($primary, 30)};
	--rgba-primary-1: #{rgba($primary, 0.1)};
	--rgba-primary-2: #{rgba($primary, 0.2)};
	--rgba-primary-3: #{rgba($primary, 0.3)};
	--rgba-primary-4: #{rgba($primary, 0.4)};
	--rgba-primary-5: #{rgba($primary, 0.5)};
	--rgba-primary-6: #{rgba($primary, 0.6)};
	--rgba-primary-7: #{rgba($primary, 0.7)};
	--rgba-primary-8: #{rgba($primary, 0.8)};
	--rgba-primary-9: #{rgba($primary, 0.9)};
	--font-family-base: #{$font-family-base};
	--font-family-title: #{$font-family-base};
	--title: #{$headings-color}; 
	--gradient-one: #{$gradient-one};
	--tryal-gradient:#{$tryal-gradient};

	// Sidebar Header 
	--dz-sidebar-width: 16.875rem;
	--dz-header-height: 5rem;
	--dz-sidebar-pos : absolute;
	--dz-header-pos : relative;
	--dz-side-nav-padding : 0.65rem 1.2rem;
	--dz-side-nav-margin : 0 0;
	--dz-side-nav-size : 0.8375rem;
	--dz-side-ico-size : 1.2rem;
	--dz-side-ico-height : auto;
	--dz-side-ico-width : auto;
	--dz-side-sub_nav-padding : .4rem 1rem .4rem 2.5rem;
	--dz-side-sub_nav-size : 0.85rem;
	--dz-head-title-size : 1.25rem;
	--dz-side-menu-direction : column;
	--dz-side-menu-padding : 0 0;
	--dz-side-profile : block;
	--dz-side-info : block;
	--dz-side-copyright : block;

	// List
	--dz-list-space-x : 1.25rem;
	--dz-list-space-y : .5rem;
	--dz-list-size : .875rem;
}