
//sidebar styles
[direction="rtl"] {

	--dz-side-sub_nav-padding: .4rem 4rem .4rem 1rem;

	@media (min-width:47.9375rem) {
		&[data-sidebar-style="compact"] {
			--dz-side-sub_nav-padding : .5rem 0.5rem;
		}
		&[data-sidebar-style="modern"] {
			--dz-side-sub_nav-padding : .5rem 1.2rem;
		}
		&[data-sidebar-style="icon-hover"][data-layout="vertical"]{
			--dz-side-nav-padding : .85rem 1rem;
		}
	}
	@media (min-width: 64rem) {
		&[data-layout="horizontal"] {
			--dz-side-sub_nav-padding : .5rem 1.2rem;
			.ic-sidenav .metismenu > li > a::after {
				transform: rotate(-135deg) translateY(-50%);
			}
			&[data-sidebar-style="full"],
			&[data-sidebar-style="icon-hover"]{
				.ic-sidenav{
					.metismenu{
						&>li{
							&>a{
								&.has-arrow{
									--dz-side-nav-padding : .5rem 0.5rem 0.5rem 1.9rem;
								}
							}
						}
					}
				}
			}
		}
	}
	.ic-sidenav{
		.header-info2{
			padding: 0.35rem 0.35rem 0.35rem 1rem;
		}
		.metismenu{
			.has-arrow::after{
				-webkit-transform: rotate(-45deg) translateY(-50%);
  				transform: rotate(-45deg) translateY(-50%);
			}
			.mm-active{
				& > .has-arrow::after{
					-webkit-transform: rotate(-135deg) translateY(-50%);
  					transform: rotate(-135deg) translateY(-50%);
				}
			}
		} 
	} 
	&[data-sidebar-style="icon-hover"][data-layout="vertical"] .ic-sidenav .header-info2{
		padding: 0.35rem 1rem 0.35rem .35rem;
	}
	@media only screen and (min-width: 48rem) {
		&[data-sidebar-style="mini"] .ic-sidenav .header-info2,
		&[data-sidebar-style="compact"] .ic-sidenav .header-info2,
		&[data-sidebar-style="modern"] .ic-sidenav .header-info2 {
		  padding: .35rem;
		}
	}
	&[data-sidebar-style="overlay"] {
		&[data-layout="vertical"]{
			--dz-side-sub_nav-padding : .5rem 3.5rem .5rem .5rem;
		}
	}

	
}

