[data-typography="opensans"] {
    font-family: 'Open Sans', sans-serif;
}
[data-typography="inter"] {
    font-family: 'Inter', sans-serif;
}
[data-typography="roboto"] {
    font-family: 'Roboto', sans-serif;
}
[data-typography="poppins"] {
    font-family: 'poppins', sans-serif;
}